@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url('https://fonts.cdnfonts.com/css/ds-digital');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: top;
    overflow: hidden;
    background: black;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

a:hover {
    color: #1D232B;
}
