{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Interfaz</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}" type="text/css">
</head>
<body>
<div id="agrupador">
    <header>
        <div id = "cabecera">
            <h1 class="hgroup">Hola, buenos dias @Usuario </h1>
            <a href="login/">Sign In</a>
        </div>
    </header>
    <a class="contenedor" href="inicio/">
        <img src="{% static '/img/botonIndex.png' %}"  alt="Icono">
    </a>
</div>
</body>
</html>