{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noticias</title>
  <link rel="stylesheet" href="{% static 'css/noticias.css' %}">
</head>
<body>

  <h1>ÚLTIMAS NOTICIAS</h1>

  <h2>Buscar noticias por tema</h2>

  <form method="post" action="{% url 'noticias' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Buscar</button>
  </form>
  <label for="idioma">Seleccionar Idioma:</label>
  <select id="idioma" name="idioma">
    <option value="es">Español</option>
    <option value="en">English</option>
    <!-- Agrega más opciones según los idiomas que necesites -->
  </select>

  <hr>

  <div class="noticias">
    {% for article in filtered_news %}
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <p>Publicado en: {{ article.publishedAt }}</p>
      <hr>
    {% endfor %}
  </div>

  <a href="{% url 'api' %}" id="botonInicio">
    X
  </a>

</body>
</html>